.threeColumns {
  background-color: $important-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .threeColumns_container {
    width: 28em;
    text-align: center;
    margin: 1rem 10rem 4rem 10rem;
    .threeColumns_header {
      font-size: 5.5em;
      font-weight: 300;
      margin: 0;
    }
    .threeColumns_span {
      font-size: 1.3em;
      text-transform: uppercase;
    }
    .threeColumns_description {
      font-size: 1.1em;
      font-family: $font-alt;
    }
  }
}